.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
.atom/
.history
.svn/


*.log


.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
**/build/
coverage/
**/doc/api/


*.class
*.pyc
*.apk
*.aab
*.dex
app.*.symbols
app.*.map.json


.env


.gradle/
**/.gradle/
.gradle-user-home/
android/.gradle/
android/local.properties
local.properties
android/captures/
android/key.properties
**/*.jks
**/*.keystore
android/**/GeneratedPluginRegistrant.java

# Android build outputs

/android/app/debug
/android/app/profile
/android/app/release


ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*


coverage/
