# OS
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
.atom/
.history
.svn/

# Logs
*.log

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
coverage/
**/doc/api/

# Build outputs
build/
android/build/
ios/build/

# Android
.gradle/
**/.gradle/
.gradle-user-home/
android/local.properties
local.properties
android/captures/
android/key.properties
**/*.jks
**/*.keystore
android/**/GeneratedPluginRegistrant.java

# APK / AAB
*.apk
*.aab
*.dex
app.*.symbols
app.*.map.json

# Env
.env

# Android build variants
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

android/app/google-services.json